/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Poppins:wght@500&family=Praise&display=swap');
/* full body styles */
body {
    background-color: #F3F1FF;
    font-family: 'Exo', sans-serif;
}
/* container  */
.container {
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
}
main {
    display: flex;
    justify-content: center;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*------------------------------------------------------------------*/
/*----------------- top player and top blogs styles------------------ */
.player-title {
    color: #562EFF;

}
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player {
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    margin-left: 20px;
    margin-top: 3px;
}
/*-----------------------------------------------------
                     Top Blogs Styles
------------------------------------------------------- */
.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
    align-items: center;
}
.top-blog .blog .thumbnail img {
    width: 177px;
    height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a {
    color: #562EFF;
    text-decoration: none;
}